@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
  }

  .prose p {
    color: #cbd5e0;
  }

  .prose li {
    color: #a0aec0;
  }
}

@font-face {
  font-family: 'Menlo';
  src: url(/fonts/Menlo-Regular.woff) format("woff");
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #52525b;
}

.prose a {
  color: rgb(2 132 199);
  font-weight: 600;
  font-style: normal;
}

.prose a:hover {
  color: rgb(3 105 161);
}

.prose ul {
  color: #52525b;
  list-style-type: disc;
  list-style-position: inside;
}

.prose iframe {
  margin: auto;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
