@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Menlo";
  src: url(/fonts/Menlo-Regular.woff) format("woff");
}

p.excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body {
  background-color: #fff;
}

.container {
  background-color: #fff;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1e293b !important;
}

.prose a {
  color: #3b82f6;
  font-weight: 500;
  font-style: normal;
}

.prose a:hover {
  color: #2563eb;
}

.prose ul {
  color: #1e293b;
  list-style-type: disc;
  list-style-position: inside;
}

.prose iframe {
  margin: auto;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.tag {
  user-select: none;
}
