$mobile: 800px;

@media only screen and (max-width: $mobile) {
    aside {
        display: none;
    }

    main {
        left: 0;
    }

    article.post-home {
        margin-left: 40px;

        & > header {
    
            & > h3 {
                position: initial;
            }
    
            & > small {
                position: initial;
            }
        }

        & > p {
            position: initial;
        }

        & > span.path-circle, & > span.path-line-vertical {
            display: none;
        }
    }
}
